* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

.logo img {
    height: 120px;
    margin-top: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul li {
    margin-left: 35px;
    padding-bottom: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #017801;
}

nav ul li .btn {
    background-color: #151515;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
}

#hero {
    background: url('/assets/images/5497968.jpeg') no-repeat center center/cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    position: relative;
}

#hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#hero .hero-content {
    z-index: 1;
}

#hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #017801;
    padding: 15px 30px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

#services {
    padding: 60px 0;
    text-align: center;
}

#services h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.service-grid {
    display: flex;
    justify-content: space-between;
}

.service-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.service-item img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.service-item p {
    font-size: 16px;
}

.join-us h2 {
    text-align: center;
}

.join-us p {
    padding-bottom: 30px;
}

/* Footer styles */
footer {
    background-color: #017801;
    color: #f5f2f2;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
}

.footer-col {
    width: 22%;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #080807;
    text-decoration: overline;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.8;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #060606;
    text-decoration: none;
    font-size: 14px;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 10px;
}

.footer-bottom {
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

.footer-bottom p {
    font-size: 14px;
}